{#
/**
 * @file
 * Theme override for a vcard icon.
 *
 * Available variables:
 * - url: An internal system path or a fully qualified external URL of the vCard.
 * - title: A descriptive title of the feed link.
 * - attributes: Remaining HTML attributes for the vCard link.
 *   - class: HTML classes to be applied to the feed link.
 */
#}
<a href="{{ url }}"{{ attributes.addClass('vcard-icon') }}>
  {{ 'Download vCard(s) for @title'|t({'@title': title}) }}
</a>
